@media screen and (max-width: 600px) {
	body {
		font-family: Arial, sans-serif;
		background-color: black;
	}
	main {
		/* max-width: 100px; */

		padding: 20px;
		color: lavender;
	}
	img {
		width: 10px;
		height: 10px;
	}
	.holder {
		background-color: #fff;
		width: 40px;
	}
	.button-bar {
		width: 20px;
		height: 32px;
	}
	.search {
		display: flex;
		align-items: center;
	}
	.double {
		display: grid;
		grid-template-columns: 72px 90px 80px 70px 70px;
		cursor: pointer;
		margin-right: auto;
		color: rgb(151, 151, 88);
		background-color: aliceblue;
	}
	.abt {
		display: flex;
		align-items: center;
		margin: auto;
	}
	.courses {
		margin: auto;
	}

	.articles {
		margin: auto;
	}
	.skill {
		display: flex;
		align-items: center;
	}
	.Roni {
		height: 200px;
		width: 200px;
		margin-left: 100px;
		border-radius: 200px;
	}
	header {
		text-align: center;
		padding: 10px;
		background-color: hotpink;
	}
	.graph {
		width: 100px;
		height: 100px;
		margin: 10px;
		display: inline-block;
		border-radius: 40px;
	}
	.sfx {
		width: 100px;
		height: 100px;
		margin: 10px;
		border-radius: 80px;
	}
	.aesthetic {
		width: 100px;
		height: 100px;
		margin: 20px;
		border-radius: 100px;
	}
	.Education {
		display: inline-block;
		background-color: #00ffff;
		padding-left: 40px;
		color: black;
		border-radius: 6px;
	}

	.information {
		display: inline-block;
		background-color: lightsalmon;
		padding-left: 50px;
		color: black;
		margin-top: 20px;
		border-radius: 6px;
	}
	button:hover {
		background-color: hsl(0, 0%, 33%);
	}

	.Hobbies {
		display: grid;
		flex-direction: column;
		background-color: white;
		margin-top: 20px;
		color: black;
		border-radius: 6px;
		line-height: 5px;
	}
	input,
	textarea {
		width: 60%;
		padding: 5px;
		font-size: 16px;
		background-color: rgb(233, 200, 200);
	}
	form {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
	}
	label {
		font-weight: bold;
		background-color: rgb(99, 87, 72);
		width: 70px;
	}
	.enter {
		width: 47px;
		height: 30px;
		background-color: white;
		cursor: pointer;
		margin-left: 20px;
	}
	footer {
		margin-top: 20px;
		text-align: center;
		background-color: #333;
		color: #fff;
		padding: 10px 0;
	}
}

@media screen and (max-width: 1440px) {
	body {
		font-family: Arial, sans-serif;
		background-color: black;
	}

	/*.color-mixed{
    background: color-mix( in var(--colorspace, oklab)
    var(--interp, ),
    var(--color-1,blue),
    var(--color-2, yellow), var(--color-2-amount, 50%)
    );    
}*/

	.Education {
		display: inline-block;
		background-color: #00ffff;
		padding-left: 40px;
		color: black;
	}
	.information {
		display: inline-block;
		background-color: lightsalmon;
		margin-left: 10px;
		color: black;
	}
	div {
		display: grid;
		grid-template-columns: 200px 250px 300px;
		color: black;
	}

	header {
		text-align: center;
		padding: 10px;
		background-color: hotpink;
	}

	main {
		max-width: 800px;

		padding: 20px;
		color: lavender;
	}

	section {
		margin-bottom: 2opx;
	}

	form {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
	}

	label {
		font-weight: bold;
		background-color: rgb(99, 87, 72);
		width: 80px;
	}
	input,
	textarea {
		width: 30%;
		padding: 5px;
		font-size: 16px;
		background-color: rgb(233, 200, 200);
	}

	.enter {
		width: 80px;
		height: 40px;
		padding: 8px 16px;
		background-color: #fff;
		cursor: pointer;
	}
	button:hover {
		background-color: hsl(0, 0%, 33%);
	}
	footer {
		text-align: center;
		background-color: #333;
		color: #fff;
		padding: 10px 0;
	}
	.Roni {
		height: 300px;
		width: 300px;
		margin-left: 500px;
		border-radius: 200px;
	}
	.twitter {
		height: 50px;
		width: 50px;
		margin-left: 00px;
	}
	.instagram {
		height: 40px;
		width: 40px;
		margin-left: 00px;
	}
	.WhatsApp {
		height: 50px;
		width: 50px;
		margin-left: 00px;
	}

	img {
		width: 20px;
		height: 20px;
	}
	.double {
		display: grid;
		grid-template-columns: 300px 300px 300px 300px 500px;
		cursor: pointer;
		color: rgb(151, 151, 88);
		background-color: aliceblue;
	}
	.abt {
		display: flex;
		align-items: center;
		margin: auto;
	}
	.courses {
		margin: auto;
	}

	.articles {
		margin: auto;
	}
	.skill {
		display: flex;
		align-items: center;
	}

	.search {
		display: flex;
		align-items: center;
	}
	.holder {
		background-color: #fff;
	}
	.button-bar {
		width: 50px;
		height: 32px;
	}
	.Hobbies {
		display: inline-block;
		background-color: white;
		margin-left: 30px;
	}
	.All {
		display: grid;
		grid-template-columns: 1fr;
		margin: 20px;
	}
	.design {
		color: antiquewhite;
		display: flex;
	}
	.graph {
		width: 200px;
		height: 200px;
		margin: 20px;
		display: inline-block;
		border-radius: 40px;
	}
	.artist {
		color: antiquewhite;
		display: flex;
	}
	.sfx {
		width: 200px;
		height: 200px;
		margin: 20px;
		border-radius: 80px;
	}
	.asthetic {
		color: antiquewhite;
		display: flex;
	}
	.aesthetic {
		width: 200px;
		height: 200px;
		margin: 40px;
		border-radius: 100px;
	}

	.des {
		font-size: medium;
		color: white;
	}
}
